.titleBox {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
}

.titleBox .title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #252525;
  font-size: 30px;
  padding-bottom: 7px;
}

.titleBox .separator {
  width: 400px;
  height: 1px;
  background: #1f2021;
  margin: 0 auto;
  position: relative;
}

.titleBox .separator .circle {
  position: absolute;
  top: -7px;
  height: 15px;
  width: 15px;
  border-radius: 0px;
  background: #ffffff;
  border: 1px solid #1f2021;
}

#BG {
  background-position: center center;
  background-size: cover;
  height: 60vh;
  position: relative;
  top: 0px;
}

#BG h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.homeBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./Images/7.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.aboutBackgroud {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./Images/1.jpeg) no-repeat;
}

.serviceBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./Images/2.jpeg) no-repeat;
}

.contactBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./Images/3.jpeg) no-repeat;
}

@media (max-width: 650px) {
  #BG {
    height: 50vh;
  }

  #BG h1 {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  #BG {
    height: 40vh;
  }

  #BG h1 {
    font-size: 24px;
  }
}

/*Home page css------------*/

.homeBackground .container .row {
  height: 100vh;
}

.homeBackground .container .row h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 30px;
}

.homeBackground .container .row h1 a {
  color: #edff4a;
}

.homeBackground .container .row .startBtn,
.contacts .container form button {
  padding: 8px 34px;
  background: #f5f5f5;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #007cc6;
  border-radius: 50px;
  color: #007cc6;
  transition: 0.4s all ease;
  outline: none;
}

.homeBackground .container .row .startBtn:hover {
  background: #edff4a;
  color: #000000;
  border: 2px solid #edff4a;
}

.homeBackground .container .row .box:last-child {
  padding-top: 0px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 510px) {
  .homeBackground .container .row h1 {
    font-size: 30px;
  }
}

@media (max-width: 410px) {
  .homeBackground .container .row h1 {
    font-size: 26px;
  }

  .homeBackground .container .row .startBtn {
    padding: 8px 30px;
  }
}

@media (max-width: 350px) {
  .homeBackground .container .row h1 {
    font-size: 22px;
  }
}

/*-------About me page css ----------- */

.aboutMe .row .box {
  margin: 30px 0px;
}

.aboutMe .row .box:first-child {
  height: 400px;
  width: 400px;
  text-align: center;
  background-color: antiquewhite;
  clip-path: polygon(71% 0, 100% 50%, 71% 100%, 0% 100%, 0 53%, 0% 0%);
}

.aboutMe .row .box:first-child img {
  object-fit: cover;
}

.aboutMe .row .box:last-child .Intro {
  padding: 50px 0px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  white-space: normal;
  line-height: 35px;
}

.aboutMe .row .box:last-child p .dropCase {
  color: #007cc6;
  font-size: 10rem;
  line-height: 0px;
}

.aboutMe .row .box .socaialLink p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.aboutMe .row .box .socaialLink a {
  padding: 5px 10px;
}

.aboutMe .row .box .socaialLink a svg {
  height: 35px;
  width: 35px;
}

.aboutMe .row .box .socaialLink a:nth-child(1) {
  padding-left: 0px !important;
}
/*--------------- services page css ---- */

/* -------------Contact page css-------- */

.contacts .container form {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px 40px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contacts .container form input {
  width: 100%;
  height: 40px;
  margin: 15px auto;
  display: block;
  border: 0px;
  border-bottom: 2px solid #262626;
  transition: 0.4s all ease;
  padding-left: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

.contacts .container form input:hover {
  padding-left: 10px;
}

.contacts .container form textarea {
  margin: 20px 0px;
  width: 100%;
}

.contacts .container form button:hover {
  background-color: #252525;
  color: #f5f5f5;
}

.contacts .container form .visible-icon {
  cursor: pointer;
}

/* --------------Footer page css------------- */

.footer p {
  padding: 15px 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
